{% extends 'layouts/base.html'%}

{% block content %}

<h1> Tareas </h1>

{%for task in tasks%}

<div>

    <h1> <a href="{% url 'task_detail' task.id %}"> {{task.title}}</a> {% if task.done == False%} 🕑 {% else %} ✓  {% endif%} </h1>
    
    <h1> {{task.title}} {% if task.done == False%} 🕑 {% else %} ✓  {% endif%}</h1>
    {% if task.done == False%}
    <p> Tarea pendiente </p>
    {% else %}
    <p> Tarea realizada </p>
    {% endif%}
    <p> {{task.description}}</p>
    <p> Proyecto al que pertenece: {{task.project.name}}</p>
    <p> Usuario que realiza la tarea: {{task.user.username}}</p>
    <button>
        Done ✓
    </button>
    <p> {{task.datecompleted | date:'M j Y:i' }}</p>
</div>

{% endfor %}

{% endblock %}