<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/main.css'%}">
</head>
<body>

    {% if user.is_authenticated %}
    <nav class="navbar container">
        <ul> 
            <li class="nav-item">
                <a href="{% url 'main' %}" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'projects' %}" class="nav-link">Projects</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'tasks_user' %}" class="nav-link">Tasks</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'completed_task_list' %}" class="nav-link">Tasks Completed</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link">About</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'create_task' %}" class="nav-link">Create Task</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'create_project' %}" class="nav-link">Create Project</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'sign_out' %}" class="nav-link"> Logout </a>
            </li>

        </ul>
        
    </nav>
    {% endif %}

    {% if not user.is_authenticated %}

    <nav class="navbar container">
        <ul> 
            <li>
                <a href="{% url 'main' %}" class="">Home</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>

            <li>
                <a href="{% url 'sign_in' %}"> Inicia sesión </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    
</body>
</html>